@model GymApp.Models.Rutina


    @*<h4>Rutina</h4>
    <hr />*@
        @*<dt>
            @Html.DisplayNameFor(model => model.Rutinas)
        </dt>*@

            @Html.DisplayFor(model => model.Rutinas)
            @*<dt>
                @Html.DisplayNameFor(model => model.fini)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fini)
            </dd>*@


@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
