@model GymApp.Models.UserViewModels

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Estas seguro que deseas elimnar este usuario?</h3>
<div>
    <h4>UserViewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoMembresia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoMembresia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ffin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ffin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userRol)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Devolverte", "Index")
        </div>
    }
</div>
