@model IEnumerable<GymApp.Models.UserViewModels>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{

    @Html.TextBox("StartDate", "", new { @class = "datepicker form-control" })
    @Html.TextBox("EndDate", "", new { @class = "datepicker form-control" })
    @Html.TextBox("vencimiento", "", new {@type="number", @class = "numeric form-control" })
    @Html.CheckBox("Caducadas")
    @Html.CheckBox("Correo")
    <input type="submit" value="Buscar" class="form-control" />
}
<p>
    @Html.ActionLink("Registrar nuevo usuario", "Register", "Account")
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.accessControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoMembresia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ffin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userRol)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(model => item.accessControl)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoMembresia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ffin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userRol)
                </td>
                <td>
                    @if (User.IsInRole("Administrador"))
                    {
                        <p>
                            @Html.ActionLink("Edit ", "Edit", new { id = item.Id })<br />
                            @Html.ActionLink("Delete ", "Delete", new { id = item.Id })
                        </p>
                    }
                    @Html.ActionLink("Membresia", "Membresia", new { id = item.Id })
                            
                    
                </td>
            </tr>
        }
    </table>
    <br />
    <h2>Total: @ViewBag.SumaMembresias</h2>
</div>

