@model IEnumerable<GymApp.Models.UserViewModels>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>
@using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <div class="col-md-15">
            <label>Fecha Inicio: </label>
            <input class="datepicker form-control" name="StartDate" placeholder="Fecha de Inicio"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-15">
            <label>Fecha Fin: </label>
            <input class="datepicker form-control" name="EndDAte" placeholder="Fecha Fin" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-15">
            <label>Días para vencer: </label>
            <input class="form-control" name="vencimiento" placeholder="Días para vencer" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-15">
            <label>Caducadas: </label>
            @Html.CheckBox("Caducadas")<br />
            <label>Correo: </label>
            @Html.CheckBox("correo")
        </div>
    </div>
  
    <div class="form-group">
        <div class="col-md-15">
            <input type="submit" value="Buscar" class="form-control" />
        </div>
    </div>
    
}
<p>
    @Html.ActionLink("Registrar nuevo usuario", "Register", "Account")
</p>
<div class="container table-responsive">
    <table class="table-fill">
        <tr>
            <th data-th>
                @Html.DisplayNameFor(model => model.accessControl)
            </th>
            <th  data-th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th  data-th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th  data-th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th  data-th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th  data-th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th  data-th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th  data-th>
                @Html.DisplayNameFor(model => model.tipoMembresia)
            </th >
            <th  data-th>
                @Html.DisplayNameFor(model => model.fInicio)
            </th>
            <th  data-th>
                @Html.DisplayNameFor(model => model.ffin)
            </th>
            <th  data-th>
                @Html.DisplayNameFor(model => model.userRol)
            </th>
            <th  data-th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.ffin >= DateTime.Now)
            {
                <tr class="success">
                    <td>
                        @Html.DisplayFor(model => item.accessControl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoMembresia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ffin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userRol)
                    </td>
                    <td>
                        @if (User.IsInRole("Administrador"))
                    {
                            <p>
                                <a href="@Url.Action("Edit", "User",new { id=item.Id })" class="btn">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>

                                <a href="@Url.Action("Delete", "User",new { id=item.Id })" class="btn">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>

                                @*@Html.ActionLink("Edit ", "Edit", new { id = item.Id })<br />
                                    @Html.ActionLink("Delete ", "Delete", new { id = item.Id })*@
                            </p>
                        }
                        <a href="@Url.Action("Membresia", "User",new { id=item.Id })" class="btn">
                            <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                        </a>

                        @*@Html.ActionLink("Membresia", "Membresia", new { id = item.Id })*@

                    </td>
                </tr>
            }

else
            {
                <tr class="danger">
                    <td>
                        @Html.DisplayFor(model => item.accessControl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoMembresia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ffin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userRol)
                    </td>
                    <td>
                        @if (User.IsInRole("Administrador"))
                    {
                            <p>
                                <a href="@Url.Action("Edit", "User",new { id=item.Id })" class="btn">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>

                                <a href="@Url.Action("Delete", "User",new { id=item.Id })" class="btn">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>

                                @*@Html.ActionLink("Edit ", "Edit", new { id = item.Id })<br />
                                    @Html.ActionLink("Delete ", "Delete", new { id = item.Id })*@
                            </p>
                        }
                        <a href="@Url.Action("Membresia", "User",new { id=item.Id })" class="btn">
                            <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                        </a>

                        @*@Html.ActionLink("Membresia", "Membresia", new { id = item.Id })*@

                    </td>
                </tr>
            }


        }
    </table>
    <br />
    <h2>Total: @ViewBag.SumaMembresias</h2>
</div>

