@model IEnumerable<GymApp.Models.RendimientoEjercicio>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@*@Html.DropDownList("ejercicioID", null, htmlAttributes: new { @class = "form-control" })*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ejercicio.Nombre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PR)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Ejercicio.Nombre)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PR)
        </td>




        <td>

            <a href="@Url.Action("Delete", "RendimientoEjercicios",new { id=item.Id })" class="btn">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>

            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
