@model GymApp.Models.RendimientoEjercicio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RendimientoEjercicio</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Ejercicio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ejercicio.Nombre)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.PR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PR)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRA)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
