@model IEnumerable<GymApp.Models.Egresos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Egresos", FormMethod.Get))
{

    @Html.DropDownList("Tipo", (SelectList)ViewBag.tipo, "Todos", new { @class = "form-control" });
    @Html.TextBox("StartDate", "", new { @class = "datepicker form-control"})
    @Html.TextBox("StartEnd", "", new { @class = "datepicker form-control"})
    <input type="submit" id="enviar" value="Buscar" class="form-control" />
}
<p>
    @Html.ActionLink("Nuevo Egreso", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<h3>Total: $@ViewBag.totalegresos</h3>

