@model GymApp.Models.Registro

@{
    ViewBag.Title = "Registro";
}

<input id="error" value=@ViewBag.error hidden />
<input id="persona" value=@ViewBag.persona hidden />
<div class="container " >
    <br />
    <div class="row">
        <div class="col-lg-4">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4>Registro</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.accessControUser, "Número de Control", htmlAttributes: new { @class = "" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.accessControUser, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.accessControUser, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 ">
                            <input type="submit" value="Registrar" class="btn btn-primary" />
                        </div>
                    </div>
                    <div id="detalles">

                    </div>
                </div>
            }
        </div>
        <br />
        <div class="col-lg-4">
            <div class="containerReoj">
                <div class="reloj">
                    <div id="DateReloj"></div>
                    <ul class="listaReloj">
                        <li id="hours"></li>
                        <li id="point">:</li>
                        <li id="min"></li>
                        <li id="point">:</li>
                        <li id="sec"></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>

</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    <script type="text/javascript">
        $("#accessControUser").on('change',function () {
            $('#detalles').empty();
            $('#detalles').load("/Registro/Details/" + $("#accessControUser").val() + "");
        });

        $(document).ready(function () {
            // Create two variable with the names of the months and days in an array
            var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre"];
            var dayNames = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

            // Create a newDate() object
            var newDate = new Date();
            // Extract the current date from Date object
            newDate.setDate(newDate.getDate());
            // Output the day, date, month and year   
            $('#DateReloj').html(dayNames[newDate.getDay()] + " " + newDate.getDate() + ' de ' + monthNames[newDate.getMonth()] + ' del ' + newDate.getFullYear());

            setInterval(function () {
                // Create a newDate() object and extract the seconds of the current time on the visitor's
                var seconds = new Date().getSeconds();
                // Add a leading zero to seconds value
                $("#sec").html((seconds < 10 ? "0" : "") + seconds);
            }, 1000);

            setInterval(function () {
                // Create a newDate() object and extract the minutes of the current time on the visitor's
                var minutes = new Date().getMinutes();
                // Add a leading zero to the minutes value
                $("#min").html((minutes < 10 ? "0" : "") + minutes);
            }, 1000);

            setInterval(function () {
                // Create a newDate() object and extract the hours of the current time on the visitor's
                var hours = new Date().getHours();
                // Add a leading zero to the hours value
                $("#hours").html((hours < 10 ? "0" : "") + hours);
            }, 1000);


            if ($("#error").val() == "registrado") {
                swal("Correcto!", "Que tengas un excelente dia " + $('#persona').val() , "success");
                window.history.pushState("nada", "Registro", "/Registro/Create");
            }

            if ($("#error").val() == "error") {
                swal("OPSSS!", "Parece que digitaste mal tu número de control", "error");
                window.history.pushState("nada", "Registro", "/Registro/Create");
            }

        });

    </script>
}
